.Color {
    margin-bottom: -6rem;

}

.ColorText {
    font-family: 'SairaCondensed-Light', sans-serif;
    color: #0f1c2d;
    letter-spacing: 0.1em;

}

.ColorCarContainer {
    margin-top: -8rem;
}

.ColorCar {
    width: 500px;
    height: 282px;
}

.ColorText p {
    color: #a8a8a8;
}

.ColorImagesContainer {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
}

.ColorImagesContainer img {
    width: 35px;
    height: 35px;
}

.ColorWithBorder {
    border: 6px solid #e7e8e9;
    border-radius: 100%;
}

.ColorWithBorderSelected {
    border: 6px solid #545555;
    border-radius: 100%;
}

.ColorCarDescription {
    margin-left: 20%;
    margin-top: -4rem;
}

.ColorCarPrice {
    color: #AB1725;
}

@media (max-width: 1200px) {
    .ColorCarContainer {
        margin-left: -5rem;
    }
}

@media (max-width: 992px) {
    .ColorCarContainer {
        margin-left: -10rem;
    }
}

@media (max-width: 768px) {
    .ColorCarContainer {
        margin-left: 0;
        margin-top: 0;
    }

    .ColorCar {
        width: 450px;
        height: 255px;
    }

    .ColorImagesContainer {
        width: 100%;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .ColorCarDescription {
        display: table;
        margin: -4rem auto 0;
    }
}

@media (max-width: 576px) {
    .ColorImagesContainer {
        margin-bottom: 4rem;
    }
}

@media (max-width: 486px) {
    .ColorCar {
        width: 400px;
        height: 226px;
    }
}

@media (max-width: 376px) {
    .ColorCar {
        width: 350px;
        height: 197px;
    }

    .ColorCarDescription {
        margin-top: -2rem;
    }
}