/* .Color{
    margin-bottom: -6rem; 
  
}
.ColorText{
    font-family: 'SairaCondensed-Light', sans-serif;
    color: #0f1c2d;
}   
  
.ColorImagesColors{
    margin-top: -8rem;
}  
   */