.HomeFooterItem {
    color: #ab1725;
    text-decoration: none;
    font-family: 'SairaCondensed-Light', sans-serif;
}

.CenterPositioned {
    display: table;
    margin: 0 auto;
}

.LeftPositioned {
    float: left;
}

.HomeFooterItemRightPositioned {
    float: right;
    
}

.FeatureValue {
    font-size: 2em;
}

.HomeFooterItem p {
    color: #a8a8a8;
    border-bottom: 2px solid #ab1725;
}

