.Wheel {
    min-height: 30rem;
}

.WheelTitle {
    font-family: 'SairaCondensed-Light', sans-serif;
    color: #0f1c2d;
    letter-spacing: 0.1em;
}

.WheelsContainer {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: space-evenly;
    min-height: 25rem;
    overflow: hidden;
    white-space: nowrap;
}

.WheelItem {
    width: 210px;
    height: 212px;
}

.WheelNotSelected {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.WheelSelected {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.ColorWheelPrice {
    color: #AB1725;
    display: table;
    margin: 0 auto;
}
.ColorWheelLabel{
    display: table;
    margin: 0 auto;
}

.CaptionNotSelected {
    height: 3rem;
}

.CaptionNotSelected figcaption {
    display: none;
}

.CaptionSelected {
    height: 3rem;
    display: block;
    

}

@media (max-width: 768px) {
    .WheelItem {
        width: 147px;
        height: 148px;
    }
}

@media (max-width: 486px) {
    .WheelItem {
        width: 105px;
        height: 106px;
    }
}

@media (max-width: 376px) {
    .WheelItem {
        width: 84px;
        height: 85px;
    }
}