.Wheel {
    margin-bottom: -6rem;
}

.WheelTitle {
    font-family: 'SairaCondensed-Light', sans-serif;
    color: #0f1c2d;
}

.WheelsContainer {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: space-evenly;
}

.WheelNotSelected {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.WheelSelected {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.CaptionNotSelected {
    display: none;
}

.CaptionSelected {
    display: block;
}