.App {
    text-align: center;
}

.ScreensContainer {
    margin-top: 4rem;
    margin-bottom: 4rem;
    min-height: 30rem;
}


@media (max-width: 576px) {
    .ScreensContainer {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}