
/* latin */
@font-face {
  font-family: 'SairaCondensed-Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sairacondensed/v5/EJRLQgErUN8XuHNEtX81i9TmEkrnCclQ962f.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'SairaCondensed-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sairacondensed/v5/EJROQgErUN8XuHNEtX81i9TmEkrvoutF.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'SairaCondensed-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/sairacondensed/v5/EJRLQgErUN8XuHNEtX81i9TmEkrnUchQ962f.woff2) format('woff2');
}

body{
  font-family: 'SairaCondensed-Regular', sans-serif;
}