@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');

.Header {
    margin-top: 50px;
}

.MenuContainer {
    overflow: hidden;
    white-space: nowrap;
}

.Menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

.Menu ul li {
    display: inline;
}

.Menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #a8a8a8;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1em;
    border-bottom: 2px solid transparent;

}

.Menu ul li a:hover {
    color: #0f1c2d;
    border-bottom: 2px solid #ab1725;
}