
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');

#menu{
    margin-top: 50px;
    float: right;
}
.logo{
    margin-top: 50px;
}
#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #a8a8a8;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;

}

#menu ul li a:hover {
    color: #0f1c2d;
    border-bottom:1.5px solid #ab1725;
}
