.Footer {
    height: 4rem;
}

.FooterIntemContainer {
    display: flex;
    align-items: center;
}

.RightPositioned {
    width: 100%;
    text-align: right;

}

.FooterItem {
    color: #0f1c2d;
    text-decoration: none;
    font-family: 'SairaCondensed-Light', sans-serif;
}
.Model{
    font-size: 1em;
}
.Next{
    font-size: 1.1em;
}


.ColorSize {
    width: 20px;
    height: 20px;
}

.Wheels {
    width: 25px;
    height: 20px;
}

.Arrow {
    width: 12px;
    height: 10px;
    margin-left: 10px;
}

.TotalLabel {
    display: block;
    font-size: 1em;
}

.TotalValue {
    display: block;
    color: #ab1725;
    font-size: 1.3em;
    font-family: 'SairaCondensed-Medium', sans-serif;
}
.FooterEngineType{
    color: #ab1725;  
}